<div class="email">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="bg-green contact">
                    <h4 class="email__title">Abone Olun ve Güncel Kalın</h4>
                    <p class="email__text">Tüm yayınlarımız, bloglarımız ve video içeriklerimizi e-posta ile alın.</p>
                    <form method="POST" id="zcampaignOptinForm" action="https://maillist-manage.com/weboptin.zc" target="_zcSignup">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" placeholder="Email" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
                            </div>
                            <div class="col-xs-12">
                                <input type="submit" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" class="email__button" value="ABONE OL">
                                <input type="hidden" id="fieldBorder" value="">
                                <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                                <input type="hidden" id="emailReportId" name="emailReportId" value="">
                                <input type="hidden" id="formType" name="formType" value="QuickForm">
                                <input type="hidden" name="zx" id="cmpZuid" value="1274f9115">
                                <input type="hidden" name="zcvers" value="3.0">
                                <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                                <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                                <input type="hidden" id="zcld" name="zcld" value="1bab88a589f1e0ed">
                                <input type="hidden" id="zctd" name="zctd" value="">
                                <input type="hidden" id="document_domain" value="">
                                <input type="hidden" id="zc_Url" value="zcmpsub.campaign-view.com">
                                <input type="hidden" id="new_optin_response_in" value="0">
                                <input type="hidden" id="duplicate_optin_response_in" value="0">
                                <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
                                <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z494f6ece7db06fca767c6add2ed9679706ad09befd95855f076cfb270e4ff8a9">
                                <input type="hidden" id="viewFrom" value="URL_ACTION">
                                <input type="hidden" id="scriptless" name="scriptless" value="yes">
                            </div>
                        </div>
                    </form>
                </div>
                <p class="email__spam">Söz veriyoruz. Spam yok.</p>
            </div>
        </div>
    </div>
</div>